h3.widget-title {
  color: #990000;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 5px;
  letter-spacing: -0.05em;
}

.dew_eventToggled {
	background-color: #D5E1DD;
	color: #000000;
	border-bottom: 1px solid #f5c2bf;
}

.dew_showEvent {
	clear: both;
	overflow: hidden;
	padding: 5px;
  padding-left: 10px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  background-image: url('../images/event-gradient.png');
  background-position: bottom;
  background-repeat: repeat-x;
  height: auto;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #eee;
}

span.event_name {
  width: 290px;
  float: left;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: 1.05em;
  background-image: url('../images/arrow-closed.png');
  background-position: right;
  background-repeat: no-repeat;
}
span.location_name {
  float: left;
  font-size: 0.9em;
  color: #666;
  width: 300px;
  padding-top: 3px;
}

span.event_time {
  text-align: right;
  float: right;
}

.dew_eventElem {
  padding-bottom: 5px;
	color: #000000;
}

ul.dew_eventList {
	list-style-type: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
	margin-bottom: 20px;
}

ul.dew_eventList > li.dew_event .dew_showEvent {
	cursor: pointer;
}

ul.dew_eventList > li.dew_event .dew_eventToggled {
	border-top: none;
}



li.dew_eventList_date {
  font-weight: bold;
  background-color: #000;
  color: #fff;
  line-height: 32px;
  padding-left: 10px;
  letter-spacing: 0.3em;
  text-shadow: 0 -1px 0 #4c9021;
  margin-top: 0px;
  background-image: url('../images/event-date-gradient.png');
  background-repeat: repeat-x;
  height: 32px;
}

.dew_eventToggled {
  background: url('../images/event-open-gradient.png') bottom repeat-x #c50000;
  color: #fff;
}

.dew_eventToggled .location_name {
  color: #fff;
}

.dew_eventToggled .event_name {
  border-bottom: 1px solid red;
  background-image: url('../images/arrow-open.png');
  background-position: right;
  background-repeat: no-repeat;
}

.dew_content {
  padding: 3px;
}

.dew_data {
  padding: 3px;
}

.dew_agenda h2,
.dew_eventDate {
  margin-bottom: 10px;
  float: left;
  color: #666;
  padding: 5px;
  cursor: pointer;
  width: 110px;
  height: 100px;
  border: 1px solid #ddd;
  background-color: #eee;
  text-align: center;
  margin-right: 10px;
  font-size: 0.9em;
}

.dew_agenda h3 {
  padding-bottom: 5px;
  color: #444;
  font-size: 1.3em;
  margin-top: 0;
}

.event_date_list {
  padding: 5px;
  float: left;
  width: 450px;
  margin-bottom: 15px;
}

.agenda_day_name {
  color: #555;
  display: block;
  background-color: #990000;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
  letter-spacing: 0.2em;
}

.agenda_day_number {
  background-color: #fff;
  display: block;
  font-size: 2.7em;
  padding-top: 18px;
  padding-bottom: 10px;
}

.agenda_month_name {
  display: block;
  background-color: #fff;
  font-weight: normal;
  letter-spacing: 0.4em;
}

p.agenda_data {
  font-weight: bold;
}

.agenda_description {
  padding-top: 0;
  margin-top: 0;
}

.agenda_read_more {
  background-color: #eee;
  display: block;
  padding: 3px;
  margin-top: 10px;
  font-size: 0.9em;
  padding-left: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 10px;
}

.agenda_event_wrapper {
  margin-bottom: 20px;
}

/*
 * dew_eventDetailBox
 */

.dew_eventDetailBox {
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.dew_eventDetailBox .dew_eventDetails {
  font-size: 0.8em;
}

.dew_eventDetailBox .dew_eventTitle {
  font-size: 1.2em;
}

/*** css for dewPickerPopup ***/

#dewPickerPopupBox {
  padding: 15px;
}

#pickerPopupRightPane,
#pickerPopupLeftPane
{
  float: left;
  width: 50%;
}

#pickerPopupRightPane {
  overflow: auto;
  max-height: 360px;
}

#pickerPopupList li {
  border: 1px solid #000;
  padding: 2px;
  margin: 3px;
}

#pickerPopupList li:hover {
  cursor: pointer;
}

#pickerPopupList .selected .title {
  font-weight: bold;
}

#pickerPopupLoadMoreElements {
  width: 100%;
}
