.dew_eventToggled {
	background-color: #f5c2bf;
	color: #000000;
	border-bottom: 1px solid #f5c2bf;
}

.dew_showEvent {
	clear: both;
	overflow: hidden;
  padding: 2px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.dew_showEvent span.event_name {
  width: 200px;
  float: left;
}
.dew_showEvent span.location_name {
  float: right;
  text-align: right;
  font-size: 0.9em;
  width: 110px;
}

.dew_eventElem {
  padding-bottom: 5px;
  background-color: #f8ccca;
	color: #000000;
	border-bottom: 3px solid #f7b5b2;
}

ul.dew_eventList {
	list-style-type: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
	margin-bottom: 20px;
}

ul.dew_eventList > li.dew_event .dew_showEvent {
	cursor: pointer;
}

ul.dew_eventList > li.dew_event .dew_eventToggled {
	border-top: none;
}

.dew_hide {
	display: none;
}

li.dew_eventList_date {
  font-weight: bold;
  background-color: #E5190F;
  color: #fff;
  padding-left: 5px;
  letter-spacing: 0.3em;
  text-shadow: 0 -1px 0 #4c9021;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.dew_content {
  padding: 3px;
}

.dew_data {
  padding: 3px;
}